<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <h1 class="test foottest">88</h1>
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Menu</a>
                    </li>
                    <li>
                        <a href="/testimonials">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>We Offer</h2>
                    </li>
                    <li>Gift Cards</li>
                    <li>Catering</li>
                    <li>Special Events</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">88 Charles Street<br>Montgomery NY 12549</a>
                    </li>
                    <li>
                        <a href="tel:845-457-9850">T: (845) 457-9850</a>
                    </li>
                    <li>
                        <a href="mailto:contact@88charlesstreet.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Chris Druke</a>
        <span class="copyright">-  Copyright 2021</span>
    </div>
</footer>